@charset "utf-8";

html {}

body {}

/* header */
header {
    background: #186AC9;
    z-index: 1000;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

/* 以下コーディング時のCSSを設定する */
/* ロゴ部分→　背景を黒色にして中央寄せにする */
.header_wrapper {
    display: flex;
    /* ↓display-flexと併用で上下中央表示 */
    align-items: center;
    /* ↓アイコンが中央寄せになる */
    /* justify-content: center; */

}

/* ロゴとその他の外余白を自動で空ける */
.header_wrapper h1 {
    margin: 0 auto 0 0;
}

.header_inner {
    align-items: center;
    display: flex;
    width: 20%;
}

/* ヘッダーロゴの大きさ */
.header_logo {
    max-width: 50%;
    padding: 10%;
}

.icon_wrapper {
    max-width: 100%;
    padding-left: 30%;
}

.main_container {
    border-bottom: 5px solid #D3D3D3;
}

/* アコーディオンメニュー */
/* 続きはここから */
/* 通常時（閉じている時） */
/* hideがついている→最初の状態で非表示 */
.ac__body.hide{
    display: none;
}

/* hideがついていない→表示状態になる */
.ac__body{
    text-align: left;
    cursor: pointer;
    width: 20%;
    background-color: #fff;
    top: 118px;
    right: 0px;
    z-index: 10;
    position: absolute;
    display: block;
}


/* メニュー項目部分 */
/* アコーディオンメニュー表示時 */
/* 全体部分 */
.ac__body .body_inner{
    text-align: center;
    /* 以下、1番目と3番目要素に線をつける */
    display: block;
    /* padding: 40px 0; */
    background-color: #fff;
    transition: .8s;
}
/*  */
/* アコーディオンメニュー表示時の表記 */
.ac__body .body_inner a{
    color: #333;
    z-index: 100;
    display: block;
    line-height: 80px;
}

/* 枠線 */
.body_inner:nth-child(1),.body_inner:nth-child(3){
    border: 1px solid blue;
}
.body_inner:nth-child(2),.body_inner:nth-child(3){
    border-left: 1px solid blue;
    border-right: 1px solid blue;
}
/* ホバー時→文字は白で背景色は青、0.3秒後に背景色が変わる */
.body_inner:hover,.body_inner a:hover{
    background-color: blue;
    transition: .3s;
}
/* liタグをホバーしたらaタグ部分の色を変化させる */
.ac__body .body_inner:hover a{
    color: #fff;
}


/* アコーディオンメニュー矢印部分 */
.ac__button:after {
    content: "";
    border-top: 2px solid white;
    border-left: 2px solid white;
    width: 10px;
    height: 10px;
    transform: rotate(-135deg) translateY(45px);
    position: absolute;
    top: 80px;
    cursor: pointer;
}
.ac__button{
    cursor: pointer;
}
/* アコーディオンメニュー開いたときの内容（親要素） */


/* ユーザー名表示 */
.login_name p {
    color: #FFF;
    font-size: 1.3rem;
    /* 20.8px */
    width: 100px;
}

/* mainセクション（投稿部分） */
.section_post .post {
    height: 150px;
}

.section_post .post {
    border: none;
}

/* 投稿送信ボタン */
.section_post .send_button {
    width: 4%;
    border-radius: 3.5px;
}
