@charset "utf-8";

html {}

body {}

/* header */
header {
    background: #186AC9;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

/* 以下コーディング時のCSSを設定する */
/* ロゴ部分→　背景を黒色にして中央寄せにする */
.header_wrapper {
    display: flex;
    /* ↓display-flexと併用で上下中央表示 */
    align-items: center;
    /* ↓アイコンが中央寄せになる */
    /* justify-content: center; */
}

/* ロゴとその他の外余白を自動で空ける */
.header_wrapper h1 {
    margin: 0 auto 0 0;
}

.header_inner {
    align-items: center;
    display: flex;
    width: 20%;
    /* margin: 0 0 0 auto; */
}

/* ヘッダーロゴの大きさ */
.header_logo {
    max-width: 50%;
    padding: 10%;
}

.icon_wrapper {
    max-width: 100%;
    padding-left: 30%;
}

.main_container {
    border-bottom: 5px solid #D3D3D3;
}

/* アコーディオンメニュー */
/* 通常時（閉じている時） */
.ac__head {
    position: relative;
    text-align: left;
    border-radius: 8px 8px 0 0;
    color: black;
    cursor: pointer;
    width: 100%;
}

/* アコーディオンメニュー矢印部分 */
.ac__head:after {
    content: "";
    border-top: 2px solid white;
    border-left: 2px solid white;
    display: inline-block;
    width: 10px;
    height: 10px;
    transform: rotate(-135deg) translateY(45px);
    position: absolute;
    top: 20px;
}


#side-bar #confirm .ac__body {
    background: #FFF;
    border: 1px solid lightblue;
    /* border: transparent; */
    border-radius: 0 0 8px 8px;
    color: black;
    line-height: 0;
    opacity: 0;
    padding: 0 20px;
    position: relative;
    /* display: block; */
    background-color: red;
}

/* 続きはここから */
.ac__body {
    background: #FFF;
    border: 1px solid lightblue;
    border: transparent;
    border-radius: 0 0 8px 8px;
    color: black;
    line-height: 0;
    opacity: 0;
    padding: 0 20px;
    position: relative;
    display: block;
    background-color: red;
}

/* アコーディオンメニュー表示時の表記 */
.ac__body .body_inner{
    color: #333;
    width: 10%;
    background-color: #fff;
    z-index: 100;
}

/* 開いたときの動作→side-barの所にACメニュー内容が表示されるようにする */
.ac__head .ac__body ul.active {
    display: block;
}

/* ユーザー名表示 */
.login_name p {
    color: #FFF;
    font-size: 1.3rem;
    /* 20.8px */
}

/* mainセクション（投稿部分） */
.main_container .post {
    height: 200px;
}

.section_post .post {
    border: none;
}

/* 投稿送信ボタン */
.section_post .send_button {
    width: 4%;
    border-radius: 3.5px;
}
